
img {
  max-width: 100%;
}
/* VARIABLES */
:root {
  /* COLORS */
  --neutral-dk: #111;
  --neutral-md: #999;
  --neutral-lt: #fff;
  --primary-1: #800080;
  --primary-2: #d10808;
  /* FONTS */
  --display: "Creepster", sans-serif;
  --display-spacing: 3px;
  /* ANIMATION */
}

/* MAIN STYLES */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  background: var(--neutral-dk);
}
p {
  font-size: 1.8rem;
}
h1 {
  font-family: var(--display);
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: var(--display-spacing);
  margin-bottom: 2rem;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3), 0px 0px 20px rgba(179, 0, 179),
    0px 0px 3px rgba(179, 0, 179);
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  color: var(--neutral-lt);
  padding: 40px 20px;
}
/* HEADER */
.page-header {
  text-align: center;
}

/* GAME BOARD */
.board {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 20px auto;
}
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  font-size: 4rem;
  background: var(--primary-1);
}

/* TILE HOVER STATES */
.👻-hover:hover:after {
  content: "👻";
  opacity: 0.5;
}
.🧛-hover:hover:after {
  content: "🧛";
  opacity: 0.5;
}

/* STRIKES - indicates 3 in a row accomplished */
.strike {
  position: absolute;
  background: var(--primary-2);
}
.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 50%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 84%;
}
.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 50%;
}
.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 84%;
}
.strike-diagonal-1 {
  height: 4px;
  width: 95%;
  top: 50%;
  left: 3%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  height: 4px;
  width: 95%;
  top: 50%;
  left: 3%;
  transform: skewY(-45deg);
}

/* GAME OVER AREA */
.game-over-area {
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--primary-1);
  padding: 20px;
  width: 100%;
  max-width: 322px;
}
button {
  background: var(--neutral-lt);
  color: var(--primary-1);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 20px auto 10px auto;
}
button:hover {
  background: linear-gradient(var(--primary-1), var(--primary-2));
  color: var(--neutral-lt);
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* File pond customizations*/
.filepond--panel,
.filepond--root,
.filepond--panel-root {
  background-color: #dcdcdc !important;
  border-radius: 1.6rem !important;
}

/* Masonry */
.masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}
.masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 20px;
}

/* Intro js*/
.intro-tooltip .introjs-button {
  padding: 0.2rem 0.5rem;
}
.intro-tooltip .introjs-tooltiptext {
  padding: 1rem 1rem 0.5rem;
}
.intro-tooltip .introjs-tooltip-header {
  min-height: 0;
}
.intro-tooltip .introjs-tooltip-header .introjs-skipbutton {
  height: 25px;
  width: 25px;
  line-height: 1;
}
.intro-tooltip .introjs-tooltipbuttons {
  padding: 0.5rem 1rem 0.7rem;
}
.intro-tooltip .introjs-tooltip-title {
  display: none;
}




/* FOR TRAX-GAME........................... */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; } */
/* start commented backslash hack \*/
/* * html .clearfix { height: 1%; }
.clearfix { display: block; } */
/* close commented backslash hack */

/* html {
  font-size: 8px;
}

body {
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  color: #2c82c9;
  text-decoration: none;
}

a:hover {
  color: #38a5ff;
}

.col {
  margin: 0 auto;
}

.block {
  float: left;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border: .25rem solid rgba(0,0,0,.2);
  border-radius: .4rem;
  cursor: pointer;
}

.purple {
  background: #663399;
}

.blue {
  background: #2c82c9;
}
.blue:before {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 1rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}
.blue:after {
  content:"";
  position: absolute;
  margin: .625rem;
  margin-left: 2.625rem;
  width: 1rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}

.green {
  background: #2cc990;
}
.green:after {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 3rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: 50%;
}

.yellow {
  position: relative;
  background: #eee657;
}
.yellow:before {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 1.5rem;
  height: 1.5rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: 50%;
}
.yellow:after {
  content:"";
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .625rem;
  width: 1.5rem;
  height: 1.5rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: 50%;
}

.orange {
  background: #fcb941;
}
.orange:after {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 3rem;
  height: 3rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}

.red {
  background: #fc6042;
}
.red:before {
  content:"";
  position: absolute;
  margin: .625rem;
  width: 3rem;
  height: 1rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}
.red:after {
  content:"";
  position: absolute;
  margin: .625rem;
  margin-top: 2.625rem;
  width: 3rem;
  height: 1rem;
  border: .2rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
}

.level {
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
}

.points {
  position: fixed;
  right: 0;
  top: 0;
  padding: .5rem;
}

.clicks {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  padding: .5rem;
  text-align: center;
}

.start {
  background: #2c82c9;
  color: #f7f7f7;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  height: 5rem;
  line-height: 5rem;
  border-radius: .5rem;
  margin: 2rem auto;
  cursor: pointer;
}

.start:hover {
  background: #2267a0;
}

.info {
	position: relative;
  top: 0;
  height: 3rem;
}

.hide {
  display: none;
}

.restart {
	background: #777;
  color: #f7f7f7;
  margin: 1rem auto;
  width: 8rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
}

.restart:hover {
  background: #373737;
}

.rules {
	padding: 1.5rem;
  font-size: 1.5rem;
}

.rules ol li {
  padding-bottom: 1rem;
}

.win {
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
}

.win-score {
  font-size: 3rem;
  text-align: center;
}

.win-text {
  font-size: 2rem;
  text-align: left;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 575px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 845px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
} */

/* //for orbit game */
/* * {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background: #3f2e88;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body canvas {
  box-shadow: 0.2em 0.2em 2em #000 8;
  border: none;
  outline: none;
} */



a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__menu {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.square {
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0px 4px #ddd;
  text-align: center;
  font-size: 64px;
  line-height: 100px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-gap: 8px;
}

.card {
  border-radius: 4px;
  text-align: center;
  height: 75px;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.2s;
  user-select: none;
}
.card.gameover {
  pointer-events: none;
}
.card-0 {
  transform: rotateY(0deg);
}
.card.active {
  transform: rotateY(180deg);
}
.card.matched .card-front {
  background-color: lightgoldenrodyellow;
  color: white;
}
.card-front,
.card-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  backface-visibility: hidden;
  height: 100%;
  border-radius: 50%;
}
.card-front {
  transform: rotateY(180deg);
  background-color: #eee;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;

  z-index: 2;
}
.card-back {
  background-color: #ddd;

  transform: rotateY(0);
  z-index: 1;
}
.card-back::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.menu p {
  font-size: 20px;
  font-weight: 600;
}