
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* File pond customizations*/
.filepond--panel,
.filepond--root,
.filepond--panel-root {
  background-color: #dcdcdc !important;
  border-radius: 1.6rem !important;
}

/* Masonry */
.masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
  height: fit-content;
}
.masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 20px;
}

/* Intro js*/
.intro-tooltip .introjs-button {
  padding: 0.2rem 0.5rem;
}
.intro-tooltip .introjs-tooltiptext {
  padding: 1rem 1rem 0.5rem;
}
.intro-tooltip .introjs-tooltip-header {
  min-height: 0;
}
.intro-tooltip .introjs-tooltip-header .introjs-skipbutton {
  height: 25px;
  width: 25px;
  line-height: 1;
}
.intro-tooltip .introjs-tooltipbuttons {
  padding: 0.5rem 1rem 0.7rem;
}
.intro-tooltip .introjs-tooltip-title {
  display: none;
}




a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__menu {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.square {
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0px 4px #ddd;
  text-align: center;
  font-size: 64px;
  line-height: 100px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-gap: 8px;
}

.card {
  border-radius: 4px;
  text-align: center;
  height: 75px;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.2s;
  user-select: none;
}
.card.gameover {
  pointer-events: none;
}
.card-0 {
  transform: rotateY(0deg);
}
.card.active {
  transform: rotateY(180deg);
}
.card.matched .card-front {
  background-color: lightgoldenrodyellow;
  color: white;
}
.card-front,
.card-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  backface-visibility: hidden;
  height: 100%;
  border-radius: 50%;
}
.card-front {
  transform: rotateY(180deg);
  background-color: #eee;
  line-height: 70px;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;

  z-index: 2;
}
.card-back {
  background-color: #ddd;

  transform: rotateY(0);
  z-index: 1;
}
.card-back::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.menu p {
  font-size: 20px;
  font-weight: 600;
}

/* //snake game css............................ */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eef1f4;
  color: #11253e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
}
main {
  background-color: #f2f5f7;
  border-radius: 6px;
  box-shadow: 0px 4px 18px rgba(18, 38, 63, 0.12);
  position: relative;
  display: inline-block;
  overflow: hidden;
}
canvas {
  background-color: black;
  box-shadow: 0px 2px 4px rgba(227, 233, 237, 0.5);
}
section {
  padding: 0 18px 2px 18px;
  /* height: 200px; */
  /* display: flex; */
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: border-box;
}
section p {
  padding: 0;
  margin: 0;
}
section p:not(:first-child) {
  margin: 6px 0 0 0;
}
section p svg {
  margin: 0 6px 0 0;
  width: 18px !important;
  text-align: center;
}
section .score {
  padding: 0 0 2px 0;
}
section .controls {
  text-align: right;
  padding: 0 0 2px 0;
}
section .controls svg {
  margin: 0 0 0 6px;
}
button {
  margin: 0;
  padding: 8px 18px;
  min-width: 120px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #0170f3;
  
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(1, 112, 243, 0.3);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
div.game-overlay {
  width: 100%;
  height: 381px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
}
div.game-overlay p {
  padding: 0;
  margin: 0;
}
div.game-overlay p.large {
  margin: 12px 0 0 0;
  font-size: 28px;
  font-weight: 600;
}
div.game-overlay p.final-score {
  font-size: 16px;
  margin: 6px 0 0 0;
  font-weight: 300;
}
div.game-overlay p.final-score + button {
  margin: 18px 0 0 0;
}
footer {
  width: 100%;
  font-size: 12px;
  color: #617691;
  position: fixed;
  left: 0;
  bottom: 30px;
  opacity: 0.6;
  text-align: center;
}
footer a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}


*{
  margin: 0;
  padding: 0;
}

.front-page-container{
  width: 100%;
  height: 100%;
  /* background-color: rgb(10, 10, 54); */
}
.left-front{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  float: left;
  color: #dcdcdc;
  padding-left: 6vw;
}
.left-front h1{
  font-size: 4.5rem;
  font-weight: 900;
  margin-top: 20vh;
  text-align: left !important;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.left-front p{
  font-size: 1rem;
  font-weight: 500;
  text-align: left !important;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.home-button-container{
  width: 42%;
  display: flex;
  justify-content: space-between;

}
.home-button-container button{
  background-color: #0170f3;
  background-color:  #5c23a8;;
  color: white;
  padding: 0.6rem 1.4rem;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  text-align: center !important;

}
.right-front{
  text-align: center !important;
}
.logo_imagee{
  height: 5px !important;
}
 